<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" type="images/jpg" href="DS1.png">

</head>
<body style="background-color: rgb(0, 0, 0);">
  <%- include ('navbar.ejs')%>

<div class="skills">
    <h4 class="subhead">Skills</h4>
    <br />
    <h4>Full Stack Web Development</h4>
    <ul>
      <li class="Web"><b>Programming Languages:  </b>HTML, CSS ,Javascript <img src="Techimg/HTML.png" width="30px"height="30px" alt="HTML">
                                                      <img src="Techimg/CSS.png" width="30px"height="30px" alt="CSS">
                                                      <img src="Techimg/JS.png" width="30px"height="30px" alt="JS">
                                                    </li>



      <li class="Web"><b>Frameworks and Libraries:</b> React.js, Node.js, Express.js
                                                      <img src="Techimg/React.png" width="30px"height="30px" alt="React.js">
                                                      <img src="Techimg/Node.png" width="30px"height="30px" alt="Node.js">
                                                      <img src="Techimg/express.png" width="30px"height="30px" alt="Express.js">
      </li>
      <li class="Web"><b>Databases: </b> MySQL, MongoDB, PostgreSQL
                                                      <img src="Techimg/mysql.png" width="30px"height="30px" alt="Mysql">
                                                      <img src="Techimg/mongo.png" width="60px"height="30px" alt="MongoDB">
                                                      <img src="Techimg/postgresql.png" width="60px"height="30px" alt="PostgreSQL">
      </li>
      <li class="Web"><b>Cloud Platforms:</b> Amazon Web Service, Microsoft Azure, Oracle Cloud Infrastructure
                                                      <img src="Techimg/AWS.png" width="30px"height="30px" alt="AWS">
                                                      <img src="Techimg/Azure.png" width="30px"height="30px" alt="Azure">
                                                      <img src="Techimg/oracle.png" class="OCI" width="60px"height="30px" alt="OCI">
      </li>
      <li class="Web"><b>Tools: </b>Git, Docker, Kubernetes
                                                      <img src="Techimg/git.png" width="30px"height="30px" alt="git">
                                                      <img src="Techimg/docker.png" width="30px"height="30px" alt="Docker">
                                                      <img src="Techimg/Kubernetes.png" width="30px"height="30px" alt="Kubernetes">
      </li>
    </ul>
    




</div>



<br /><br />

<div class="DSA">
    <br />
    <h4>Data Structure & Algorithm</h4>
    <ul>
      <li class="Web"><b>Programming Languages:  </b>Java <img src="Techimg/JAVA.png" width="30px"height="30px" alt="JAVA">
        <p>Currently practising on Data Structures like Array,String,linked List</p>
        <p class="Future"> Future- Graph and Trees</p>

      </li>
     
    </ul>
    






</div>


    
<hr color="white">
<br />
<div class="end">
<%- include ('footer.ejs')%>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>